<div class="faq" itemscope itemtype="https://schema.org/FAQPage">
    <h2 class="h2 fs-6" itemprop="headline">Maswali Yalioulizwa Mara kwa Mara</h2>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button fw-bold text-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne" itemprop="name">
                    <%= partials.team_info.team.name %> inashikilia nafasi ya ngapi?
                </button>
            </h3>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body" itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
                    <p itemprop="text">
                        Hadi hivi sasa <%= partials.team_info.team.name %> inashikilia nafasi ya
                        <%= partials.team_info.rank %> katika msimamo wa <%= partials.ligi %> <%= partials.season_long %>
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed fw-bold text-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo" itemprop="name">
                    <%= partials.team_info.team.name %> ina points ngapi?
                </button>
            </h3>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body" itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
                    <p itemprop="text">
                        Hadi hivi sasa <%= partials.team_info.team.name %> ina jumla ya points
                        <%= partials.team_info.points %> na tofauti ya magoli <%= partials.team_info.goalsDiff %> ikiwa
                        imefunga magoli <%= partials.team_info.all.goals.for %> na kufungwa magoli
                        <%= partials.team_info.all.goals.against %>
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed fw-bold text-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree" itemprop="name">
                    <%= partials.team_info.team.name %> imeshinda mechi ngapi?
                </button>
            </h3>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body" itemprop="acceptedAnswer" itemscope itemtype="https://schema.org/Answer">
                    <p itemprop="text">
                        <%= partials.team_info.team.name %> imeshinda mechi <%= partials.team_info.all.played %>, imetoa
                        droo mechi <%= partials.team_info.all.draw %> na kufungwa <%= partials.team_info.all.lose %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<!-- Ratiba za Timu Nyingine -->
<div class="ratiba-timu">
    <h2 class="h2 fs-6">
        Ratiba na Matokeo ya Timu <%= partials.ligi %> <%= partials.season_long %>
    </h2>
    <ul itemscope itemtype="https://schema.org/BreadcrumbList" class="list-group list-group-flush p-2">
        <% standing.forEach(team => { %>
        <% if (team.team.id != partials.team_id) { %>
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="list-group-item">
            <a itemprop="item" href="/ratiba/<%= partials.league_id %>/<%= team.team.id %>/<%= partials.season %>" class="text-success text-decoration-none">
                <span itemprop="name">
                    Ratiba na Matokeo ya Mechi za <%= team.team.name %>
                </span>
            </a>
            <meta itemprop="position" content="<%= team.rank %>">
        </li>
        <% } %>
        <% }) %>
    </ul>
</div>