<!DOCTYPE html>
<html lang="sw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="VIP Slips za Leo">
    <title>🥇 VIP SLIPS - MKEKA WA LEO</title>
    <%- include('../0-global/style.ejs'); %>
    <%- include('../0-global/google.ejs'); %>
    <%- include('../0-global/fonts.ejs'); %>
    <%- include('../0-global/favicon.ejs') %>
    <%- include('./partials/style.ejs'); %>
    <%- include('./partials/tip-cards-style.ejs'); %>
</head>

<body>
    <%- include('../0-global/header.ejs'); %>
    <div class="p-2 shadow rounded mx-auto" style="font-size: 10px; width: 98%;">
        <p class="fs-6 fw-bold">My Info</p>
        <ul style="list-style: circle;">
            <li>Name: <b class="text-bold"><%= user?.name %></b></li>
            <li>Email: <b class="text-bold"><%= user.email %></b></li>
            <li>Status: <b class="text-success text-capitalize"><%= String(user.status).replace('unpaid', 'Not Paid') %></b></li>
            <% if (user.status === 'paid') { %>
             <li>Paid On: <b class="text-bold"><%= new Date(user.payments[0].paidOn).toLocaleString('en-GB', {timeZone: 'Africa/Nairobi'}) %></b></li>
             <li>End On: <b class="text-bold"><%= new Date(user.payments[0].endedOn).toLocaleString('en-GB', {timeZone: 'Africa/Nairobi'}) %></b></li>
            <% } %>
        </ul>
    </div>
    <main>
        <section class="left mt-5">
            <h2 class="h2 mb-5 fw-bold bg-dark fs-5">VIP Tips za Leo - <%= new Date().toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric', timeZone: 'Africa/Nairobi' }) %></h2>
            <% if (user.status === 'paid') { %>
            <%- include('./partials/tip-cards.ejs'); %>
            <% } %>
            <% if (user.status !== 'paid') { %>
            <%- include('./partials/unpaid.ejs'); %>
            <% } %>
            <br><br><br><br><br>
        </section>
    </main>

    <%- include('./partials/modal.ejs'); %>
    <%- include('../0-global/footer.ejs'); %>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <%- include('./partials/script.ejs'); %>
</body>

</html>