<!DOCTYPE html>
<html lang="sw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="VIP Slips za Leo">
    <title>🥇 VIP SLIPS - MKEKA WA LEO</title>
    <%- include('./partials/style.ejs'); %>
    <%- include('../0-global/style.ejs'); %>
    <%- include('../0-global/google.ejs'); %>
    <%- include('../0-global/fonts.ejs'); %>
    <%- include('../0-global/favicon.ejs') %>
</head>

<body>
    <%- include('../0-global/header.ejs'); %>
    <div class="p-2" style="font-size: 10px;">
        <p>Logged in as: <%= user.email %> -- <a class="text-danger fw-bold" href="/user/logout">Log Out</a></p>
    </div>
    <main>
        <section class="left">
            <h2 class="text-center my-5 fw-bold">VIP Slips za Leo</h2>
            <% if (user.status === 'paid') { %>
            <%- include('./partials/betslip.ejs'); %>
            <% } %>
            <% if (user.status !== 'paid') { %>
            <%- include('./partials/unpaid.ejs'); %>
            <% } %>
            <br><br><br><br><br>
        </section>
    </main>

    <%- include('./partials/modal.ejs'); %>
    <%- include('../0-global/footer.ejs'); %>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <%- include('./partials/script.ejs'); %>
</body>

</html>