<!DOCTYPE html>
<html lang="sw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="VIP Slips za Leo">
    <title>🥇 VIP SLIPS - MKEKA WA LEO</title>
    <link rel="stylesheet" href="/css/global.css">

    <!-- htmx -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
        integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
        crossorigin="anonymous"></script>

    <%- include('../0-global/sure3-styles.ejs'); %>
    <%- include('../0-global/google.ejs'); %>
    <%- include('../0-global/fonts.ejs'); %>
    <%- include('../0-global/favicon.ejs') %>
    <%- include('./partials/style.ejs'); %>
    <%- include('./partials/tip-cards-style.ejs'); %>
</head>

<body>
    <%- include('../0-global/header.ejs'); %>
    <%- include('./partials/account-info.ejs'); %>
    <main>
        <section class="left mt-5">
            <!-- If user unpaid. Show this header -->
            <% if (user.status !== 'paid') { %>
            <%- include('./partials/header.ejs'); %>
            <% } %>
            <!-- if user paid -->
            <% if (user.status === 'paid') { %>
            <!-- <%- include('./partials/status.ejs'); %> -->
            <%- include('./partials/buttons-date.ejs'); %>
            <%- include('./partials/sure3.ejs'); %>
            <hr class="my-5 text-light">
            <%- include('./partials/sure5.ejs'); %>
            <hr class="my-5 text-light">
            <%- include('./partials/tip-cards.ejs'); %>
            <%- include('./partials/the-end.ejs'); %>
            <% if (user.role === 'admin') { %>
            <%- include('./partials/form-prev.ejs'); %>
            <section id="adminSection" class="d-none">
                <%- include('./partials/admin.ejs'); %>
            </section>
            <% } %>
            <% } %>

            <!-- if user unpaid and payment is through API -->
            <% if (user.status !== 'paid') { %>
            <%- include('./partials/unpaid-pro.ejs'); %>
            <% } %>
            <br><br><br><br><br>
        </section>
    </main>

    <!-- MNOs Modal -->
    <%- include('./partials/mno-modal.ejs'); %>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <%- include('./partials/script.ejs'); %>

    <% if (user?.status === 'paid') { %>
    <%- include('./partials/animation.ejs'); %>
    <% } %>
</body>

</html>