<div class="ratiba-section" itemscope>
    <h2 class="h2 fs-6">Matokeo na Ratiba <%= partials.league_name %> kwa Msimu Mzima wa <%= partials.season_long %>
    </h2>

    <!-- Current round for only leagues -->
    <% if (typeof standing.standing[0] === 'object' && standing.standing[0] !== null && !Array.isArray(standing.standing[0]) && standing.current_round_fixtures?.length > 0) { %>
        <h3 class="h3 p-2 bg-dark text-light" itemprop="about">
            <%= standing.current_round_fixtures[0]?.league?.round %>
        </h3>
        <table class="table table-striped">
            <thead>
                <th scope="col" class="tdata text-center">Date</th>
                <th scope="col" class="tdata">Match</th>
                <th scope="col" class="text-center tdata">Results</th>
            </thead>
            <tbody>
                <% standing.current_round_fixtures.forEach(fixture => { %>
                <tr class="tdata">
                    <td class="text-muted text-center">
                        <span class="time d-block <%= fixture.fixture.status.short %>">
                            <%= new Date(fixture.fixture.date).toLocaleTimeString('en-US', {timeZone: 'Africa/Nairobi', hour12: false, hour: "2-digit", minute: "2-digit"}) %>
                        </span>
                        <span class="date d-block <%= fixture.fixture.status.short %>">
                            <%= new Date(fixture.fixture.date).toLocaleDateString('en-GB', {timeZone: 'Africa/Nairobi'}) %>
                        </span>
                        <% if (fixture.fixture.status.short === "PST") { %>
                        <span class="date d-block text-danger">
                            postponed
                        </span>
                        <% } %>
                    </td>
                    <td class="<%= fixture.fixture.status.short %>">
                        <span class="<%= fixture.teams.home.winner === true ? 'text-success' : '' %>">
                            <%= fixture.teams.home.name %>
                        </span> <br>
                        <span class="<%= fixture.teams.away.winner === true ? 'text-success' : '' %>">
                            <%= fixture.teams.away.name %>
                        </span>
                    </td>
                    <td class="text-center fw-bold">
                        <%= fixture.goals.home ?? '-' %> <br> <%= fixture.goals.away ?? '-' %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>

    <% agg.forEach(round => { %>
    <div class="rounds-table" itemscope itemtype="https://schema.org/Table">
        <h3 class="h3 p-2 bg-dark text-light" itemprop="about">
            <%= round.round %>
        </h3>
        <table class="table table-striped">
            <thead>
                <th scope="col" class="tdata text-center">Date</th>
                <th scope="col" class="tdata">Match</th>
                <th scope="col" class="text-center tdata">Results</th>
            </thead>
            <tbody>
                <% round.fixtures.forEach(fixture => { %>
                <tr class="tdata">
                    <td class="text-muted text-center">
                        <span class="time d-block <%= fixture.fixture.status.short %>">
                            <%= new Date(fixture.fixture.date).toLocaleTimeString('en-US', {timeZone: 'Africa/Nairobi', hour12: false, hour: "2-digit", minute: "2-digit"}) %>
                        </span>
                        <span class="date d-block <%= fixture.fixture.status.short %>">
                            <%= new Date(fixture.fixture.date).toLocaleDateString('en-GB', {timeZone: 'Africa/Nairobi'}) %>
                        </span>
                        <% if (fixture.fixture.status.short === "PST") { %>
                        <span class="date d-block text-danger">
                            postponed
                        </span>
                        <% } %>
                    </td>
                    <td class="<%= fixture.fixture.status.short %>">
                        <span class="<%= fixture.teams.home.winner === true ? 'text-success' : '' %>">
                            <%= fixture.teams.home.name %>
                        </span> <br>
                        <span class="<%= fixture.teams.away.winner === true ? 'text-success' : '' %>">
                            <%= fixture.teams.away.name %>
                        </span>
                    </td>
                    <td class="text-center fw-bold">
                        <%= fixture.goals.home ?? '-' %> <br> <%= fixture.goals.away ?? '-' %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <br>
    <% }) %>
</div>