<div class="ratiba-section" itemscope>
    <h2 class="h2 fs-6">Matokeo na Ratiba <%= partials.league_name %> kwa Msimu Mzima wa <%= partials.season_long %></h2>

    <% agg.forEach(round => { %>
    <div class="rounds-table" itemscope itemtype="https://schema.org/Table">
        <h3 class="h3 p-2 bg-dark text-light" itemprop="about">
            <%= round.round.replace('Regular Season -', 'Mzunguko wa').replace('fff - 0.01', 'Finali').replace('fff - 0.02', 'Nusu Fainali').replace('fff - 0.03', 'Robo Fainali').replace("pre - 0.", "Hatua ya Mtoano - ").replace('Group Stage -', 'Hatua ya Makundi -') %>
        </h3>
        <table class="table table-striped">
            <thead>
                <th scope="col" class="tdata text-center">Date</th>
                <th scope="col" class="tdata">Match</th>
                <th scope="col" class="text-center tdata">Results</th>
            </thead>
            <tbody>
                <% round.fixtures.forEach(fixture => { %>
                <tr class="tdata">
                    <td class="text-muted text-center">
                        <span class="time d-block <%= fixture.fixture.status.short %>">
                            <%= new Date(fixture.fixture.date).toLocaleTimeString('en-US', {timeZone: 'Africa/Nairobi', hour12: false, hour: "2-digit", minute: "2-digit"}) %>
                        </span>
                        <span class="date d-block <%= fixture.fixture.status.short %>">
                            <%= new Date(fixture.fixture.date).toLocaleDateString('en-GB', {timeZone: 'Africa/Nairobi'}) %>
                        </span>
                        <% if (fixture.fixture.status.short === "PST") { %>
                        <span class="date d-block text-danger">
                            postponed
                        </span>
                        <% } %>
                    </td>
                    <td class="<%= fixture.fixture.status.short %>">
                        <span class="<%= fixture.teams.home.winner === true ? 'text-success' : '' %>">
                            <%= fixture.teams.home.name %>
                        </span> <br> 
                        <span class="<%= fixture.teams.away.winner === true ? 'text-success' : '' %>">
                            <%= fixture.teams.away.name %>
                        </span>
                    </td>
                    <td class="text-center fw-bold">
                        <%= fixture.goals.home ?? '-' %> <br> <%= fixture.goals.away ?? '-' %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <br>
    <% }) %>
</div>