<section class="rounded-top pt-3 bg-light"
    style="border-top: 32px solid #8B6508; border-left: #8B6508 1px solid; border-right: #8B6508 1px solid;">
    <div class="mb-5">
        <h2 class="text-center mt-5 fs-1 text-dark">GoldenPicks: VIP #3</h2>
        <h5 class="text-center mx-auto px-2 fw-bold fs-5" style="color: #8B6508; font-family: serif; width: fit-content;">
            <i class="fa-solid fa-crown"></i>
            Tips <%= slips?.length %> za Nyongeza
        </h5>
    </div>
    <% if (slips.length > 0) { %>
    <% if (user.plan.toLowerCase() == 'gold plan' || ['juzi', 'jana'].includes(siku)) { %>
    <div class="container">
        <div class="">
            <div class="tamaa p-2 mb-3 text-dark" style="font-size: 13px;">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <span class="fw-bold">Michezo ya nyongeza:</span> <br> Ikiwa mtaji wako ni mdogo, tafadhali chukua mechi 2 au 3 hapa chini kuongeza wingi wa odds au tengeneza mikeka mingine kupitia tips hizi
            </div>
            <% slips.forEach(match => { %>
            <div class="mb-5">
                <div class="card match-card p-3 shadow rounded-3 border-0">
                    <div class="d-flex justify-content-between align-items-center mb-3 top-title">
                        <span class="league-badge"><i class="fa-solid fa-trophy"></i> <%= match.league %></span>
                        <div class="text-end">
                            <div class="match-time"><i class="fa-solid fa-clock"></i> <%= match.time %></div>
                            <div class="match-date">
                                <%= new Date(String(match.date).split('/').reverse().join('-')).toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %>
                            </div>
                        </div>
                    </div>
                    <div class="match-details text-center mb-3">
                        <h5 class="mb-3 fw-bold"><%= String(match.match).replace(' vs ', ' - ') %></h5>
                    </div>
                    <div class="text-center mb-2">
                        <span class="prediction-badge prediction-badge-gold"
                            onclick="OpenAff('gsb')"><%= String(match.tip) %></span>
                    </div>
                    <% if (match?.expl && match.expl.length > 5) { %>
                     <div class="text-dark text-center p-1" style="font-size: 10px;">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        <%= match.expl %>
                     </div>
                    <% } %>
                    <% if (match.status === 'won') { %>
                    <div class="text-center">
                        <span class="badge bg-success text-light rounded-pill p-2 me-1">
                            <i class="fa-regular fa-circle-check"></i> WON <%= match.result %>
                        </span>
                    </div>
                    <% } %>
                    <% if (match.status === 'lose') { %>
                    <div class="text-center">
                        <span class="badge bg-danger text-light rounded-pill p-2 me-1">
                            <i class="fa-regular fa-circle-xmark"></i> LOSE <%= match.result %>
                        </span>
                    </div>
                    <% } %>
                    <% if (match.status === 'postponed') { %>
                    <div class="text-center">
                        <span class="badge border text-dark rounded-pill p-2 me-1">
                            Pstp.
                        </span>
                    </div>
                    <% } %>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
    <% } %>
    <% if (user.plan.toLowerCase() == 'silver plan' && siku == 'leo') { %>
    <%- include('./must-pay-gold.ejs'); %>
    <% } %>
    <% } %>

    <% if (slips.length == 0) { %>
    <p class="text-center zakesho">* Hakuna mikeka ya VIP iliyopatikana kwa tarehe <%= d %></p>
    <% } %>
</section>


<script>
    function OpenAff(brand) {
        window.open(`/${brand}/register`)
    }
</script>