<div class="utangulizi p text-align-justify">
    <p>
        Tanzania Premier League
    </p>
    <p>
        Hadi sasa, <strong><%= top_scorers[0].playerName %></strong> wa <%= top_scorers[0].club %> na
        <strong><%= top_scorers[1].playerName %></strong> wa <%= top_scorers[1].club %> wanaongoza kwa mabao Ligi Kuu
        Bara. <strong><%= top_scorers[0].playerName %></strong> akiwa na mabao <%= top_scorers[0].goals %> na
        <strong><%= top_scorers[1].playerName %></strong> akiwa na mabao <%= top_scorers[1].goals %>. Swali ni moja, je,
        nani atakuwa mfungaji bora wa msimu huu wa NBC Premier League?
    </p>
</div>