<!DOCTYPE html>
<html lang="sw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Msimamo wa ligi kuu ya NBC Tanzania Bara <%= partials.season_long %>. Angalia msimamo wa ligi kuu ya NBC Tanzania, ni Yanga ni Simba, nani anaongoza ligi kuu bara">
    <%- include('../../../0-global/favicon.ejs') %>
    <meta property="article:published_time" content="<%= partials.createdAt %>">
    <meta property="article:modified_time" content="<%= partials.updatedAt %>">
    <link rel="canonical" href="https://mkekawaleo.com/standings/football/tanzania/premier-league">
    <title>Msimamo wa Ligi Kuu ya NBC Tanzania Bara <%= partials.season_short %> - Nani Kinara, Nani Atashuka Daraja</title>
    <%- include('../../../0-global/style.ejs'); %>
    <%- include('../../../0-global/google.ejs'); %>
    <%- include('../../../0-global/fonts.ejs'); %>
    <style>
        .tdata {
            font-size: 12px;
        }

        .champ1,
        .champ2 {
            background: green !important;
            color: white !important;
        }

        .champ3 {
            background: #1e90ff !important;
            color: white !important;
        }

        .champ13,
        .champ14 {
            background-color: #a52a2a !important;
            color: white !important;
        }

        .champ15,
        .champ16 {
            background-color: red !important;
            color: white !important;
        }

        .spanchamp {
            width: 20px !important;
            height: 20px !important;
            border-radius: 6px !important;
        }
    </style>
</head>

<body>
    <%- include('../../../0-global/header.ejs'); %>
    <main>
        <section class="left">
            <div class="intro">
                <h1 class="fs-3 p-2">Msimamo wa Ligi Kuu ya NBC Tanzania Bara <%= partials.season_long %> - Tanzania Premier League</h1>
                <span class="meta-info-el meta-info-date d-block p-2 mb-3 text-muted" style="font-size: 12px;">
                    <i class="fa-regular fa-clock"></i> Updated on:
                    <abbr class="date published" title="<%= partials.updatedAt %>">
                        <%= new Date(partials.updatedAt).toLocaleString('en-US', {timeZone: 'Africa/Nairobi', hour: "2-digit", minute: "2-digit", weekday: "long", year: "numeric", month: "long", day: "numeric",}) %>
                    </abbr>
                </span>
                <%- include('./partials/intro-standing.ejs'); %>
                <p class="p-2">Hapa chini tumekuwekea msimamo wa Ligi Kuu ya NBC Tanzania Bara kwa msimu wa
                    <%= partials.season_short %>.
                </p>
            </div>
            <%- include('./partials/standing.ejs'); %>
            <br>
            <div class="vidokezo p-2">
                <h2 class="h2 fs-6">Vidokezo NBC <%= partials.season_short %></h2>
                <ul class="list-group list-group-flush fw-bold">
                    <li class="list-group-item">
                        <a href="/football/fixtures/tanzania/premier-league" class="text-success text-decoration-none">
                            Ratiba na Matokeo NBC - Tanzania Premier League <%= partials.season_short %>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/football/top-scorers/tanzania/premier-league" class="text-success text-decoration-none">
                            Wafungaji Bora NBC - Tanzania Premier League <%= partials.season_short %>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="/football/top-assists/tanzania/premier-league" class="text-success text-decoration-none">
                            Watoa Assists Bora NBC - Tanzania Premier League <%= partials.season_short %>
                        </a>
                    </li>
                </ul>
            </div>
            <br>
            <%- include('./partials/faqpage.ejs'); %>
            <%- include('../../../0-global/somapia.ejs'); %>
        </section>
        <%- include('../../../0-global/right.ejs'); %>
    </main>

    <%- include('../../../0-global/footer.ejs'); %>

    <%- include('../../../0-global/modal-leon.ejs'); %>
    <%- include('../../../0-global/script.ejs'); %>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>