<!DOCTYPE html>
<html lang="sw">

<head>
    <%- include("../0-global/seo/head.ejs"); %>
    <link rel="stylesheet" href="/css/v7-mega.css">
    <link rel="stylesheet" href="/css/v1-global.css">
    <%- include('../0-global/google.ejs'); %>
</head>

<body>
    <%- include('../0-global/header.ejs'); %>
    <main>
        <section class="left">
            <h1 class="h2" style="font-size: 16px;">
                Mkeka wa Over 1.5<%= SEO.isWeekdayPage ? '' : ` ${SEO.siku}` %> - <%= SEO.trh.day %>, <%= SEO.trh.month_date %>
            </h1>
            <div class="introduction p">
                <p>
                    Karibu kwenye ukurasa wa <strong>Over 1.5 Tips</strong> – mahali unapopata
                    <strong>utabiri sahihi wa mechi</strong> kwa mashabiki wa betting hapa Tanzania!
                </p>

                <p>
                    Kwa siku ya <%= SEO.siku.toLowerCase() %><%= SEO.isWeekdayPage ? ' tarehe' : '' %> <strong><%= SEO.isWeekdayPage ? SEO.trh.date : `${SEO.trh.day}, ${SEO.trh.date}` %></strong> tumekuletea tabiri za <strong>Over 1.5 za uhakika</strong> tukiwa na jumla ya mechi
                    <strong><%= mikeka.length %></strong> zenye uwezekano mkubwa kabisa wa
                    matokeo ya <strong>Over 1.5</strong>.
                    Kila utabiri umechambuliwa kwa umakini na kwa kutumia takwimu, historia ya timu,
                    na hali ya ushindani wa sasa.
                </p>
            </div>


            <%- include('../0-global/banner.ejs'); %>
            <hr class="my-3 text-light">

            <%- include('./partials/mega.ejs'); %>
            <%- include('../0-global/weekday-nav.ejs'); %>
            <hr class="my-5 text-light">

            <%- include('../0-global/vip.ejs'); %>
            <%- include('../0-global/banner2.ejs'); %>
            <%- include('./partials/maana.ejs'); %>
            <%- include('./partials/ligi.ejs'); %>
            <%- include('../0-global/banner3.ejs'); %>
            <%- include('../0-global/somapia.ejs'); %>
        </section>

        <%- include('../0-global/right.ejs'); %>
    </main>


    <%- include('../0-global/footer.ejs'); %>

    <%- include('./partials/script.ejs'); %>
    <%- include('../0-global/script.ejs'); %>
    <%- include('../0-global/vip-modal.ejs'); %>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>

</html>
