<section class="league-surface league-surface--table" itemscope itemtype="https://schema.org/Table">
    <header class="league-surface-head">
        <h3 class="league-subsection-title"><%= title %></h3>
        <span class="league-chip">timu <%= teams.length %></span>
    </header>

    <div class="league-table-wrap">
        <table class="league-table worldcup-standings-table" itemscope itemtype="https://schema.org/Table">
            <colgroup>
                <col style="width: 56px;">
                <col class="team-col">
                <col span="6" style="width: 8%;">
            </colgroup>
            <thead>
                <tr>
                    <th class="rank-cell text-center">#</th>
                    <th class="team-cell">Timu</th>
                    <th class="text-center">MP</th>
                    <th class="text-center">W</th>
                    <th class="text-center">D</th>
                    <th class="text-center">L</th>
                    <th class="text-center">GD</th>
                    <th class="text-center">Pts</th>
                </tr>
            </thead>
            <tbody>
                <% teams.forEach((team) => { 
                    const badgeClass = team.rank === 1 || team.rank === 2 ? 'qualifier' : '';
                %>
                <tr>
                    <td class="rank-cell text-center">
                        <span class="league-rank-wrap">
                            <span class="league-rank-marker <%= badgeClass %>"></span>
                            <span class="league-rank-number"><%= team.rank %></span>
                        </span>
                    </td>
                    <td class="team-cell">
                        <div class="league-team-cell">
                            <img src="<%= team.team.logo %>" alt="<%= team.team.name %>" loading="lazy">
                            <span><%= team.team.name %></span>
                        </div>
                    </td>
                    <td class="text-center"><%= team.all.played %></td>
                    <td class="text-center"><%= team.all.win %></td>
                    <td class="text-center"><%= team.all.draw %></td>
                    <td class="text-center"><%= team.all.lose %></td>
                    <td class="text-center"><%= team.goalsDiff %></td>
                    <td class="text-center league-highlight"><%= team.points %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</section>
