<!DOCTYPE html>
<html lang="sw">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Msimamo wa kufuzu kombe la dunia 2026 Africa, msimamo wa makundi, msimamo wa kundi E (kundi la Tanzania), pamoja na ratiba na taarifa kamili kuhusu Kombe la Dunia 2026.">
    <%- include('../../../0-global/favicon.ejs') %>
    <meta property="article:modified_time" content="<%= partials.updatedAt %>">
    <link rel="canonical" href="https://mkekawaleo.com<%= partials.canonical_path %>">
    <title>Kufuzu Kombe la Dunia 2026: Msimamo wa Makundi Africa, Ratiba, na Matokeo</title>
    <%- include('../../../0-global/style.ejs'); %>
    <%- include('../../../0-global/google.ejs'); %>
    <%- include('../../../0-global/fonts.ejs'); %>
    <%- include('./partials/style.ejs'); %>
</head>

<body>
    <%- include('../../../0-global/header.ejs'); %>
    <main>
        <section class="left text-align-justify">
            <%- include('./partials/intro.ejs'); %>
            <br>
            <%- include('./partials/makundi.ejs'); %>
            <br>
            <%- include('./partials/matokeo.ejs'); %>
            <br>
            <%- include('./partials/vidokezo.ejs'); %>
            <br><br>
            <%- include('../../../0-global/somapia.ejs'); %>
        </section>
        <%- include('../../../0-global/right.ejs'); %>
    </main>

    <%- include('../../../0-global/footer.ejs'); %>

    <%- include('../../../0-global/modal-gsb.ejs'); %>
    <%- include('../../../0-global/script.ejs'); %>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>