<div class="betslipCont" id="betslipCont">
    <div class="cap">
        <h2 id="betslip-ya-leo">
            ⭐⭐⭐ Betslip ya Siku ⭐⭐⭐ <br>
            <span class="slip-siku">
                <i class="fa-solid fa-calendar-days"></i>
                <span><b id="trh_betslip"></b> <%= trh.leo %></span>
            </span>
        </h2>
    </div>
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th scope="col">Betslip</th>
                <th scope="col" class="cell-left">Odds</th>
            </tr>
        </thead>
        <tbody>
            <% for( let mch of slip ) { %>
                <tr class="table-light">
                    <td>
                        <span class="league">
                            <%= mch.time %> | TANZANIA: Premier League
                        </span> <br>
                        <span class="match">
                            <i class="fa-regular fa-futbol"></i>
                            <%= mch.match.split(' vs ')[0] %> 
                            <span class="vs">vs</span>
                            <%= mch.match.split(' vs ')[1] %>
                        </span> <br>
                        <b class="tip" onclick="window.open('/gsb/register')">
                            <%= mch.tip %>
                        </b> <br>
                    </td>
                    <td class="cell-left" style="vertical-align: middle;">
                        <%= mch.odd %>
                    </td>
                </tr>
                <% } %>
                
                <tr class="table-secondary">
                    <th scope="col" style="font-size: 14px;">
                        Stake: <span class="brown">45,000 TZS</span><br>
                        Ushindi: <span class="brown" id="slipOdd"></span>
                    </th>
                    <th scope="col" class="cell-left" style="font-size: 14px;">
                        Odds: <span class="brown"><%= slipOdds %></span>  <br>
                        Bonus: <span style="color:green;">+15%</span>
                    </th>
                </tr>
        </tbody>
    </table>
    <div class="bottomSlip">
        <div>BetWay</div>
        <div onclick="window.open('/betway-tz/register')">
            <span>WEKA BET</span>
            <i class="fa-solid fa-up-right-from-square"></i>
        </div>
    </div>
</div>

<script>
    let slipOdd = document.getElementById('slipOdd')
    let totalSlipOdd = '<%= slipOdds %>'
    slipOdd.innerText = (Number(totalSlipOdd) * 45000).toLocaleString('en-US') + ' TZS'
</script>