<div class="cont" itemscope>
    <h2 class="header" id="mega-za-leo">
        <div>⭐⭐⭐ Mega Odds za Leo ⭐⭐⭐</div>
        <div style="font-size: 12px; margin-top: 12px;">📅 <%= jumasiku.leo %>: <%= trh.leo %></div>
    </h2>
    <ul class="list-group list-group-flush">
        <% mikeka.forEach(el=> { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="ms-2 me-auto">
                <div class="date" style="font-size: 12px; color: #808080;">
                    <div class="dtime">
                        <%= el.time %>
                    </div>
                    <div class="ligi">
                        <%= el.league %>
                    </div>
                </div>
                <div class="fw-bold">
                    <div class="match">
                        <%= el.match.split(' - ')[0] %><br>
                        <%= el.match.split(' - ')[1] %>
                    </div>
                    <div class="bet" onclick="window.open('/gsb/register')"><%= el.bet %></div>
                </div>
            </div>
            <span class="badge text-bg-success rounded-pill" onclick="window.open('/gsb/register')" style="width: 48px; text-align: center; font-weight: bold; padding: 16px 8px; cursor: pointer;">
                <%= Number(el.odds).toLocaleString('en-US') %>
            </span>
        </li>
        <% }) %>
    </ul>
</div>
<div class="total">
    <div class="subtotal">
        <div class="btm w40">
            <span class="hdr">Bookie</span>
            <span class="ct">Parimatch</span>
        </div>
        <div class="btm w25">
            <span class="hdr">Total Odds</span>
            <span class="ct">
                <%= megaOdds %>
            </span>
        </div>
        <div class="btm w25">
            <span class="hdr">Bonus</span>
            <span class="ct">150%</span>
        </div>
    </div>
    <div class="tangazo">
        * bonus ya ukaribisho (150%) hadi Tsh. 3,500,000/=
    </div>
    <div class="sasa">
        <button onclick="window.open('/pmatch/register')"><i class="fa-solid fa-circle-dollar-to-slot"></i> PATA BONUS
            HII SASA!</button>
    </div>
</div>