<section class="keka-mix-sectio shadow rounded mb-5">
    <h2 class="h2" id="spn-title">
        Over 1.5 SUPA za Leo
    </h2>
    <ul style="list-style: none; padding: 0; text-align: center;">
        <li class="spn_trh" id="spn_trh_leo"><b><i class="fa-solid fa-calendar-days"></i> <%= jumasiku.leo %>: </b><%= trh.leo %></li>
        <li class="spn_hide" id="spn_trh_juzi"><b><i class="fa-solid fa-calendar-days"></i> <%= jumasiku.juzi %>: </b><%= trh.juzi %></li>
        <li class="spn_hide" id="spn_trh_jana"><b><i class="fa-solid fa-calendar-days"></i> <%= jumasiku.jana %>: </b><%= trh.jana %></li>
        <li class="spn_hide" id="spn_trh_kesho"><b><i class="fa-solid fa-calendar-days"></i> <%= jumasiku.kesho %>: </b><%= trh.kesho %></li>
    </ul>
    <div class="toggle-cont" id="supa-za-leo">
        <div class="toggles">
            <div class="jtoggle" id="jtoggle">« Juzi</div>
            <div class="ytoggle" id="ytoggle">Jana</div>
            <div class="ltoggle active_toggle" id="ltoggle">⁕ Leo ⁕</div>
            <div class="ktoggle" id="ktoggle">Kesho »</div>
        </div>
    </div>

    <!-- today -->
    <div class="tble-cont" id="lday" itemscope itemtype="https://schema.org/Table">
        <meta itemprop="about" content="Mechi za Leo: <%= jumasiku.leo %>">
        <table class="table table-light table-striped">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Time</th>
                    <th scope="col">Matches</th>
                    <th class="tips-th" scope="col">Tip</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% stips.forEach(leagueGroup => { %>
                <tr class="league-row table-dark mt-8">
                    <td colspan="3" class="league-name"><%= leagueGroup._id.league %></td>
                </tr>
                <% leagueGroup.matches.forEach(match => { %>
                <tr itemscope itemtype="https://schema.org/SportsEvent">
                    <td class="time-td">
                        <time itemprop="startDate" datetime="<%= match.startDate %>">
                            <%= match.time %> <br> <span><%= match.date %></span>
                        </time>
                    </td>
                    <td class="match-td">
                        <meta itemprop="name" content="<%= match.homeTeam %> vs <%= match.awayTeam %> Tips">
                        <meta itemprop="description"
                            content="Utabiri wa leo kati ya <%= match.homeTeam %> vs <%= match.awayTeam %>">
                        <meta itemprop="performer" content="<%= match.homeTeam %> vs <%= match.awayTeam %>">
                        <meta itemprop="location" content="<%= leagueGroup._id.league %>">
                        <meta itemprop="endDate" content="<%= match.endDate %>">
                        <span class="home" itemprop="homeTeam"><%= match.homeTeam %></span>
                        <br>
                        <span class="away" itemprop="awayTeam"><%= match.awayTeam %></span>
                    </td>
                    <th class="tip-td table-success"><%= match.bet %></th>
                </tr>
                <% }); %>
                <% }); %>
            </tbody>
        </table>
        <% if (stips.length === 0) { %>
        <div class="zakesho">
            * Over 1.5 SUPA za leo: <%= trh.leo %></b> bado upo kwenye maandalizi. Shuka chini kuangalia mikeka mingine
            iliyotayari.
        </div>
        <% } %>
        <% if (stips.length > 0) { %>
        <!-- <%- include('../../0-global/aff.ejs'); %> -->
        <% } %>
    </div>

    <!-- juzi -->
    <div class="tble-cont ficha" id="jday" style="display: none;" itemscope itemtype="https://schema.org/Table">
        <meta itemprop="about" content="Over 1.5 SUPA za Juzi: <%= jumasiku.juzi %>">
        <table class="table table-light table-striped">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Time</th>
                    <th scope="col">Matches</th>
                    <th class="tips-th" scope="col">Tip</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% jtips.forEach(leagueGroup => { %>
                <tr class="league-row table-dark mt-8">
                    <td colspan="3" class="league-name"><%= leagueGroup._id.league %></td>
                </tr>
                <% leagueGroup.matches.forEach(match => { %>
                <tr itemscope itemtype="https://schema.org/SportsEvent">
                    <td class="time-td">
                        <time itemprop="startDate" datetime="<%= match.startDate %>">
                            <%= match.time %> <br> <span><%= match.date %></span>
                        </time>
                    </td>
                    <td class="match-td">
                        <meta itemprop="name" content="<%= match.homeTeam %> vs <%= match.awayTeam %> Tips">
                        <meta itemprop="description"
                            content="Utabiri wa leo kati ya <%= match.homeTeam %> vs <%= match.awayTeam %>">
                        <meta itemprop="performer" content="<%= match.homeTeam %> vs <%= match.awayTeam %>">
                        <meta itemprop="location" content="<%= leagueGroup._id.league %>">
                        <meta itemprop="endDate" content="<%= match.endDate %>">
                        <span class="home" itemprop="homeTeam"><%= match.homeTeam %></span>
                        <br>
                        <span class="away" itemprop="awayTeam"><%= match.awayTeam %></span>
                    </td>
                    <th class="tip-td table-success"><%= match.bet %></th>
                </tr>
                <% }); %>
                <% }); %>
            </tbody>
        </table>
        <% if (jtips.length > 0) { %>
        <!-- <%- include('../../0-global/aff.ejs'); %> -->
        <% } %>
    </div>

    <!-- yesterday -->
    <div class="tble-cont ficha" id="yday" style="display: none;" itemscope itemtype="https://schema.org/Table">
        <meta itemprop="about" content="Over 1.5 SUPA za Jana: <%= jumasiku.jana %>">
        <table class="table table-light table-striped">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Time</th>
                    <th scope="col">Matches</th>
                    <th class="tips-th" scope="col">Tip</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% ytips.forEach(leagueGroup => { %>
                <tr class="league-row table-dark mt-8">
                    <td colspan="3" class="league-name"><%= leagueGroup._id.league %></td>
                </tr>
                <% leagueGroup.matches.forEach(match => { %>
                <tr itemscope itemtype="https://schema.org/SportsEvent">
                    <td class="time-td">
                        <time itemprop="startDate" datetime="<%= match.startDate %>">
                            <%= match.time %> <br> <span><%= match.date %></span>
                        </time>
                    </td>
                    <td class="match-td">
                        <meta itemprop="name" content="<%= match.homeTeam %> vs <%= match.awayTeam %> Tips">
                        <meta itemprop="description"
                            content="Utabiri wa leo kati ya <%= match.homeTeam %> vs <%= match.awayTeam %>">
                        <meta itemprop="performer" content="<%= match.homeTeam %> vs <%= match.awayTeam %>">
                        <meta itemprop="location" content="<%= leagueGroup._id.league %>">
                        <meta itemprop="endDate" content="<%= match.endDate %>">
                        <span class="home" itemprop="homeTeam"><%= match.homeTeam %></span>
                        <br>
                        <span class="away" itemprop="awayTeam"><%= match.awayTeam %></span>
                    </td>
                    <th class="tip-td table-success"><%= match.bet %></th>
                </tr>
                <% }); %>
                <% }); %>
            </tbody>
        </table>
        <% if (ytips.length > 0) { %>
        <!-- <%- include('../../0-global/aff.ejs'); %> -->
        <% } %>
    </div>


    <!-- tomorrow -->
    <div class="tble-cont ficha" id="kday" style="display: none;" itemscope itemtype="https://schema.org/Table">
        <meta itemprop="about" content="Over 1.5 SUPA za Kesho: <%= jumasiku.kesho %>">
        <table class="table table-light table-striped">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Time</th>
                    <th scope="col">Matches</th>
                    <th class="tips-th" scope="col">Tip</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <% ktips.forEach(leagueGroup => { %>
                <tr class="league-row table-dark mt-8">
                    <td colspan="3" class="league-name"><%= leagueGroup._id.league %></td>
                </tr>
                <% leagueGroup.matches.forEach(match => { %>
                <tr itemscope itemtype="https://schema.org/SportsEvent">
                    <td class="time-td">
                        <time itemprop="startDate" datetime="<%= match.startDate %>">
                            <%= match.time %> <br> <span><%= match.date %></span>
                        </time>
                    </td>
                    <td class="match-td">
                        <meta itemprop="name" content="<%= match.homeTeam %> vs <%= match.awayTeam %> Tips">
                        <meta itemprop="description"
                            content="Utabiri wa leo kati ya <%= match.homeTeam %> vs <%= match.awayTeam %>">
                        <meta itemprop="performer" content="<%= match.homeTeam %> vs <%= match.awayTeam %>">
                        <meta itemprop="location" content="<%= leagueGroup._id.league %>">
                        <meta itemprop="endDate" content="<%= match.endDate %>">
                        <span class="home" itemprop="homeTeam"><%= match.homeTeam %></span>
                        <br>
                        <span class="away" itemprop="awayTeam"><%= match.awayTeam %></span>
                    </td>
                    <th class="tip-td table-success"><%= match.bet %></th>
                </tr>
                <% }); %>
                <% }); %>
            </tbody>
        </table>
        <% if (ktips.length === 0) { %>
        <div class="zakesho">
            * Over 1.5 SUPA za Kesho <b><%= jumasiku.kesho %>: </b> bado hazijaandaliwa, rudi baada ya mda kidogo litakuwa
            tayari.
        </div>
        <% } %>
        <% if (ktips.length > 0) { %>
        <!-- <%- include('../../0-global/aff.ejs'); %> -->
        <% } %>
    </div>
</section>