<div class="toggle-cont" id="supa-za-leo">
    <div class="toggles">
        <div class="jtoggle" id="jtoggle">« Juzi</div>
        <div class="ytoggle" id="ytoggle">Jana</div>
        <div class="ltoggle active_toggle" id="ltoggle">⁕ Leo ⁕</div>
        <div class="ktoggle" id="ktoggle">Kesho »</div>
    </div>
</div>

<!-- juzi -->
<div class="tble-cont ficha" id="jday">
    <div class="table-head">
        <h2>⭐⭐⭐ Supa Tips za Juzi ⭐⭐⭐</h2>
    </div>
    <table class="table table-dark table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Matches</th>
                <th class="tips-th" scope="col">Tips</th>
                <th class="results-th" scope="col">Results</th>
            </tr>
        </thead>
        <tbody>
            <% jtips.forEach(el=> { %>
                <tr>
                    <td class="time-td">
                        <%= el.time %> <br> <span><%= el.siku %></span> 
                    </td>
                    <td class="match-td">
                        <span><%= el.league %></span> <br>
                        <%- el.match.replace(/ - /g, '<br>' ) %>
                    </td>
                    <th class="tip-td" style="color: gold;"><%= el.tip %></th>
                    <td class="matokeo-td"><%= el.matokeo %></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <div class="aff">
        <h4><u>PariMatch</u></h4>
        <h4>* bonus ya 150%, weka 10k pata 15k bure ✔</h4>
        <h4>* uwezo wa kuedit mkeka uliokosea ✔</h4>
        <h4>* cash-out inapatikana muda wote ✔</h4>
        <div class="sasa">
            <button onclick="window.open('/pmatch/register')">🏐 BONYEZA HAPA KUJISAJILI</button>
            <br>
        </div>
    </div>
</div>

<!-- yesterday -->
<div class="tble-cont ficha" id="yday">
    <div class="table-head">
        <h2>⭐⭐⭐ Supa Tips za Jana ⭐⭐⭐</h2>
    </div>
    <table class="table table-dark table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Matches</th>
                <th class="tips-th" scope="col">Tips</th>
                <th class="results-th" scope="col">Results</th>
            </tr>
        </thead>
        <tbody>
            <% ytips.forEach(el=> { %>
                <tr>
                    <td class="time-td">
                        <%= el.time %> <br> <span><%= el.siku %></span> 
                    </td>
                    <td class="match-td">
                        <span><%= el.league %></span> <br>
                        <%- el.match.replace(/ - /g, '<br>' ) %>
                    </td>
                    <th class="tip-td" style="color: gold;"><%= el.tip %></th>
                    <td class="matokeo-td"><%= el.matokeo %></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <div class="aff">
        <h4><u>PariMatch</u></h4>
        <h4>* bonus ya 150%, weka 10k pata 15k bure ✔</h4>
        <h4>* uwezo wa kuedit mkeka uliokosea ✔</h4>
        <h4>* cash-out inapatikana muda wote ✔</h4>
        <div class="sasa">
            <button onclick="window.open('/pmatch/register')">🏐 BONYEZA HAPA KUJISAJILI</button>
            <br>
        </div>
    </div>
</div>


<!-- today -->
<div class="tble-cont" id="lday">
    <div class="table-head">
        <h2>⭐⭐⭐ Supa Tips za Leo ⭐⭐⭐</h2>
    </div>
    <table class="table table-dark table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Matches</th>
                <th class="tips-th" scope="col">Tips</th>
                <th class="results-th" scope="col">Results</th>
            </tr>
        </thead>
        <tbody>
            <% stips.forEach(el=> { %>
                <tr>
                    <td class="time-td">
                        <%= el.time %> <br> <span><%= el.siku %></span> 
                    </td>
                    <td class="match-td">
                        <span><%= el.league %></span> <br>
                        <%- el.match.replace(/ - /g, '<br>' ) %>
                    </td>
                    <th class="tip-td" style="color: gold;"><%= el.tip %></th>
                    <td class="matokeo-td"><%= el.matokeo %></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <div class="aff">
        <h4><u>PariMatch</u></h4>
        <h4>* bonus ya 150%, weka 10k pata 15k bure ✔</h4>
        <h4>* uwezo wa kuedit mkeka uliokosea ✔</h4>
        <h4>* cash-out inapatikana muda wote ✔</h4>
        <div class="sasa">
            <button onclick="window.open('/pmatch/register')">🏐 BONYEZA HAPA KUJISAJILI</button>
            <br>
        </div>
    </div>
</div>


<!-- tomorrow -->
<div class="tble-cont ficha" id="kday">
    <div class="table-head">
        <h2>⭐⭐⭐ Supa Tips za Kesho ⭐⭐⭐</h2>
    </div>
    <table class="table table-dark table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Matches</th>
                <th class="tips-th" scope="col">Tips</th>
                <th class="results-th" scope="col">Results</th>
            </tr>
        </thead>
        <tbody>
            <% ktips.forEach(el=> { %>
                <tr>
                    <td class="time-td">
                        <%= el.time %> <br> <span><%= el.siku %></span> 
                    </td>
                    <td class="match-td">
                        <span><%= el.league %></span> <br>
                        <%- el.match.replace(/ - /g, '<br>' ) %>
                    </td>
                    <th class="tip-td" style="color: gold;"><%= el.tip %></th>
                    <td class="matokeo-td"><%= el.matokeo %></td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <div class="zakesho" id="zakesho">
        * Supa Tips za Kesho <b id="siku_kesho"></b> bado hazijaandaliwa, rudi baada ya mda kidogo zitakuwa tayari.
    </div>
    <div class="aff">
        <h4><u>PariMatch</u></h4>
        <h4>* bonus ya 150%, weka 10k pata 15k bure ✔</h4>
        <h4>* uwezo wa kuedit mkeka uliokosea ✔</h4>
        <h4>* cash-out inapatikana muda wote ✔</h4>
        <div class="sasa">
            <button onclick="window.open('/pmatch/register')">🏐 BONYEZA HAPA KUJISAJILI</button>
            <br>
        </div>
    </div>
</div>